tests/corpus/project/namespace-xsi-type-allows-union-member-type/schema.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:tns="urn:test"
           targetNamespace="urn:test"
           elementFormDefault="qualified">
  <xs:simpleType name="Upper">
    <xs:restriction base="xs:string">
      <xs:pattern value="[A-Z]+"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Positive">
    <xs:restriction base="xs:positiveInteger"/>
  </xs:simpleType>
  <xs:simpleType name="Value">
    <xs:union memberTypes="tns:Upper tns:Positive"/>
  </xs:simpleType>
  <xs:element name="value" type="tns:Value"/>
  <xs:element name="blocked" type="tns:Value" block="restriction"/>
</xs:schema>
