tests/corpus/project/attribute-group-prohibited-attribute/schema.xsd

<?xml version="1.0"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">

<xsd:complexType name="base">
	<xsd:attribute name="a" type="xsd:string" />
</xsd:complexType>

<xsd:complexType name="derived">
  <xsd:complexContent>

    <xsd:restriction base="base">
      <xsd:attributeGroup ref="attG"/>
    </xsd:restriction>

  </xsd:complexContent>
</xsd:complexType>

<xsd:attributeGroup name="attG">
 <xsd:attribute name="a" type="xsd:string" use="prohibited"/> 
</xsd:attributeGroup>

<xsd:element name="doc" type="derived" />

</xsd:schema>