tests/corpus/project/namespace-substitution-group-member-defaults-to-head-type/schema.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:tns="urn:test"
           targetNamespace="urn:test"
           elementFormDefault="qualified">
  <xs:simpleType name="Code">
    <xs:restriction base="xs:string"><xs:enumeration value="A"/></xs:restriction>
  </xs:simpleType>
  <xs:element name="head" type="tns:Code"/>
  <xs:element name="member" substitutionGroup="tns:head"/>
  <xs:element name="root"><xs:complexType><xs:sequence><xs:element ref="tns:head"/></xs:sequence></xs:complexType></xs:element>
</xs:schema>
