testdata/bench/deep.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="urn:bench"
           xmlns:tns="urn:bench"
           elementFormDefault="qualified">
  <xs:element name="level1">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="level2">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="level3">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="level4">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="level5">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="level6">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element name="level7">
                                        <xs:complexType>
                                          <xs:sequence>
                                            <xs:element name="level8" type="xs:string"/>
                                          </xs:sequence>
                                        </xs:complexType>
                                      </xs:element>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
