testdata/bench/facets.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="urn:bench"
           xmlns:tns="urn:bench"
           elementFormDefault="qualified">
  <xs:element name="record">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="code" type="tns:Code"/>
        <xs:element name="amount" type="tns:Amount"/>
        <xs:element name="flag" type="tns:Flag"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:simpleType name="Code">
    <xs:restriction base="xs:string">
      <xs:minLength value="6"/>
      <xs:maxLength value="12"/>
      <xs:pattern value="[A-Z0-9]+"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="Amount">
    <xs:restriction base="xs:decimal">
      <xs:minInclusive value="0"/>
      <xs:maxInclusive value="9999.99"/>
      <xs:totalDigits value="6"/>
      <xs:fractionDigits value="2"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="Flag">
    <xs:restriction base="xs:string">
      <xs:enumeration value="ON"/>
      <xs:enumeration value="OFF"/>
    </xs:restriction>
  </xs:simpleType>
</xs:schema>
