tests/corpus/project/architecture-substitution-head-member-upa/schema.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:test" xmlns:t="urn:test" elementFormDefault="qualified">
  <xs:element name="head"/>
  <xs:element name="member" substitutionGroup="t:head"/>
  <xs:element name="root">
    <xs:complexType>
      <xs:choice>
        <xs:element ref="t:head"/>
        <xs:element ref="t:member"/>
      </xs:choice>
    </xs:complexType>
  </xs:element>
</xs:schema>
