tests/corpus/project/namespace-xsi-type-respects-declared-type-block/schema.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:tns="urn:test"
           targetNamespace="urn:test"
           elementFormDefault="qualified">
  <xs:complexType name="Base" block="extension">
    <xs:sequence><xs:element name="a" type="xs:string"/></xs:sequence>
  </xs:complexType>
  <xs:complexType name="Derived">
    <xs:complexContent><xs:extension base="tns:Base"/></xs:complexContent>
  </xs:complexType>
  <xs:element name="root" type="tns:Base"/>
</xs:schema>
