tests/corpus/project/list-restriction-length-valid/schema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:simpleType name="ints">
    <xs:list itemType="xs:int"/>
  </xs:simpleType>
  <xs:simpleType name="intPair">
    <xs:restriction base="ints">
      <xs:length value="2"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="root" type="intPair"/>
</xs:schema>
