tests/corpus/project/runtime-identity-field-union-single-field/schema.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:tn="urn:test"
           targetNamespace="urn:test"
           elementFormDefault="qualified">
  <xs:element name="root">
    <xs:complexType>
      <xs:choice maxOccurs="unbounded">
        <xs:element name="key">
          <xs:complexType>
            <xs:attribute name="id" type="xs:decimal"/>
          </xs:complexType>
        </xs:element>
        <xs:element name="ref" type="xs:decimal"/>
      </xs:choice>
    </xs:complexType>
    <xs:key name="k">
      <xs:selector xpath=".//tn:key"/>
      <xs:field xpath="@id|@id"/>
    </xs:key>
    <xs:keyref name="r" refer="tn:k">
      <xs:selector xpath=".//tn:ref"/>
      <xs:field xpath="."/>
    </xs:keyref>
  </xs:element>
</xs:schema>