tests/corpus/project/union-pattern-after-collapse-rejects/schema.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:tns="urn:test"
           targetNamespace="urn:test"
           elementFormDefault="qualified">
  <xs:simpleType name="U">
    <xs:union memberTypes="xs:token xs:ID"/>
  </xs:simpleType>
  <xs:simpleType name="P">
    <xs:restriction base="tns:U">
      <xs:pattern value="\S+\s{2}\S+"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="root" type="tns:P"/>
</xs:schema>