tests/corpus/project/union-pattern-applies-after-normalization-space/schema.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:simpleType name="U">
    <xs:union memberTypes="xs:normalizedString xs:string"/>
  </xs:simpleType>
  <xs:simpleType name="E">
    <xs:restriction base="U">
      <xs:pattern value="[a-z ]+"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="root" type="E"/>
</xs:schema>