tests/corpus/project/runtime-substitution-group-xsi-type-derived-from-member/schema.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="urn:test"
           xmlns:tns="urn:test"
           elementFormDefault="qualified">
  <xs:element name="root">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="tns:head"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="head" type="tns:HeadType" abstract="true"/>
  <xs:element name="member" type="tns:MemberType" substitutionGroup="tns:head"/>
  <xs:complexType name="HeadType">
    <xs:sequence>
      <xs:element name="a" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="MemberType">
    <xs:complexContent>
      <xs:extension base="tns:HeadType">
        <xs:sequence>
          <xs:element name="b" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="DerivedFromMember">
    <xs:complexContent>
      <xs:extension base="tns:MemberType">
        <xs:sequence>
          <xs:element name="c" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
</xs:schema>