tests/corpus/project/namespace-substitution-group-upa-is-checked-after-substitutions/schema.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:tns="urn:test"
           targetNamespace="urn:test"
           elementFormDefault="qualified">
  <xs:element name="head"/>
  <xs:element name="member" substitutionGroup="tns:head"/>
  <xs:element name="root">
    <xs:complexType>
      <xs:choice>
        <xs:element ref="tns:head"/>
        <xs:element ref="tns:member"/>
      </xs:choice>
    </xs:complexType>
  </xs:element>
</xs:schema>
