tests/corpus/project/runtime-identity-selector-descendant-mid-path-valid/schema.xsd

<?xml version="1.0"?>
	<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	  <xs:element name="root">
	    <xs:complexType>
	      <xs:sequence>
	        <xs:element name="a" maxOccurs="unbounded">
	          <xs:complexType>
	            <xs:sequence>
	              <xs:element name="wrap">
	                <xs:complexType>
	                  <xs:sequence>
	                    <xs:element name="b" maxOccurs="unbounded">
	                      <xs:complexType>
	                        <xs:attribute name="id" type="xs:string" use="required"/>
	                      </xs:complexType>
	                    </xs:element>
	                  </xs:sequence>
	                </xs:complexType>
	              </xs:element>
	            </xs:sequence>
	          </xs:complexType>
	        </xs:element>
	      </xs:sequence>
	    </xs:complexType>
	    <xs:key name="k">
	      <xs:selector xpath="a/wrap/b"/>
	      <xs:field xpath="@id"/>
	    </xs:key>
	  </xs:element>
	</xs:schema>