tests/corpus/project/architecture-repeated-choice-partitions-without-replay/schema.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="root">
    <xs:complexType>
      <xs:choice maxOccurs="unbounded">
        <xs:element name="a" minOccurs="3" maxOccurs="5"/>
        <xs:element name="b" minOccurs="3" maxOccurs="5"/>
      </xs:choice>
    </xs:complexType>
  </xs:element>
</xs:schema>
