tests/corpus/project/float-fixed-zero-value-space/schema.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="root">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="float" type="xs:float" fixed="-0"/>
        <xs:element name="double" type="xs:double" fixed="0"/>
      </xs:sequence>
      <xs:attribute name="float" type="xs:float" fixed="-0"/>
      <xs:attribute name="double" type="xs:double" fixed="0"/>
    </xs:complexType>
  </xs:element>
</xs:schema>
