tests/corpus/project/namespace-substitution-group-head-blocks-extension/schema.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:tns="urn:test"
           targetNamespace="urn:test"
           elementFormDefault="qualified">
  <xs:complexType name="Base"><xs:sequence><xs:element name="a" type="xs:string"/></xs:sequence></xs:complexType>
  <xs:complexType name="Ext"><xs:complexContent><xs:extension base="tns:Base"><xs:sequence><xs:element name="b" type="xs:string"/></xs:sequence></xs:extension></xs:complexContent></xs:complexType>
  <xs:element name="head" type="tns:Base" block="extension"/>
  <xs:element name="member" type="tns:Ext" substitutionGroup="tns:head"/>
  <xs:element name="root"><xs:complexType><xs:sequence><xs:element ref="tns:head"/></xs:sequence></xs:complexType></xs:element>
</xs:schema>
