tests/corpus/project/namespace-restriction-wildcard-namespace-rejects-invalid-range/schema.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="base"><xs:sequence><xs:any namespace="##other" minOccurs="2" maxOccurs="3"/></xs:sequence></xs:complexType>
  <xs:complexType name="derived"><xs:complexContent><xs:restriction base="base"><xs:sequence><xs:element name="e"/><xs:element name="e"/><xs:any namespace="##other"/></xs:sequence></xs:restriction></xs:complexContent></xs:complexType>
</xs:schema>
